<nav id="navbar" class="navbar navbar-fixed-top navbar-inverse">
  <!-- header -->
  <div class="navbar-header">
    <a href="/" class="navbar-brand">
      <span class="brand-title" style="font-family:Helvetica; font-size:22px">
        <img src="{{vm.navline.logo}}" width="100px" alt="{{vm.navline.title}}" title="{{vm.navline.title}}">
        &nbsp; {{vm.navline.text}}
      </span>
    </a>
    <a class="btn navbar-btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <!-- icons -->
  <div class="navbar-collapse collapse" uib-collapse="isCollapsed">
    <div class="pull-right navbar-logo">
      <ul class="nav navbar-nav pull-right">
        <li style="padding:0; border-right: 1px solid #ccc; height:60px">
          <a href="/comms"><i class="fa fa-comments"></i></a>&nbsp;
        </li>
        <li style="padding:0; border-right: 1px solid #ccc; height:60px">
          <a href="/"><i class="fa fa-warning"></i></a>&nbsp;
        </li>
        <li style="padding: 5px 15px">
          <img class="img-team" src="/images/team/aw.png" width="40px" alt="Alex Wilford" title="Alex Wilford">
          <span style="font-size:15px">Alex Wilford</span>
        </li>
      </ul>
    </div>
  </div>
  <!-- alert bar -->
  <div style="position:absolute; top:0; left:65px; width:100%">
    <img style="display:block; margin: 0 auto;" src="images/placeholders/alert-bar.png" width="475px"
      alt="CSL viewer" title="CSL viewer">
  </div>
</nav>