<section id="dashboard-view" class="mainbar">
  <section class="matter">
    <div class="container">

      <br>

      <div class="row">
        <div class="col-md-12">
          <h2><b>Sorry! Page Not Found</b></h2>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-12">

          <ul class="today-datas">
            <li class="">
              <div class="pull-left"><i class="fa fa-warning"></i></div>
              <div class="datas-text">
                <a><span class="bold">404</span></a>
                <br>Page Not Found<br>
                <a href='/'>Return Home<a/>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </section>
</section>