<section id="dashboard-view" class="mainbar">
  <section class="matter">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <br>
          <h1><b>Welcome back, Alex</b></h1>
          <br>
          <button type="button" class="btn btn-default btn-lg">Today so far</button>
          <button type="button" class="btn btn-default btn-lg">All services</button>
          <div class="dash-message lrg pull-right">{{vm.date | date:'HH:mm  EEE dd MMM'}}</div><br>
          <div class="dash-message pull-right">Last updated 30 seconds ago</div>
        </div>
      </div>

      <!-- today-datas -->
      <div class="row">
        <div class="col-md-12">
          <div class="row">

            <div class="col-md-3" ng-repeat="c in vm.cards">
              <ul class="today-datas">
                <li class="bdefault">
                  <div class="datas-text">
                    <span class="title bold">{{c.subject}}</span>
                    <span class="value">{{c.value}}
                      <i class="{{c.symbol}}"></i>
                    </span>
                    <span class="sub">
                      {{c.sub}}
                      <i class="info fa fa-question-circle pull-right" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="clearfix"></div>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <div class="row">

        <!-- chart -->
        <div class="col-md-6">
          <div class="widget wdefault">
            <div ht-widget-header title="PPM Monitor"></div>
            <div class="widget-content ppm-chart"></div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>

        <!-- services -->
        <div class="col-md-6">
          <div class="widget wdefault">
            <div ht-widget-header allow-collapse="true" title="Latest Flagged Services"></div>
            <div class="widget-content text-center text-info">
              <table class="table table-condensed table-striped">
                <thead>
                  <tr>
                    <th>Train</th>
                    <th>Service</th>
                    <th>Issue</th>
                    <th>PPM Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="s in vm.services">
                    <td>{{s.train}}</td>
                    <td>{{s.service}}</td>
                    <td>{{s.issue}}</td>
                    <td class="{{s.status}}">{{s.ppm}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>

        <!-- wyld logo -->
        <div class="dash-message pull-right" style="padding:50px 25px 0 0">
          Powered by &nbsp;
          <img src="images/logos/logo-main-h.png" width="120px" alt="powered by WYLD mesh" title="powered by WYLD mesh">
        </div>

      </div>

    </div>
  </section>
</section>
