<section class="mainbar">
  <section class="matter">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <br>
          <h1><b>Demo <i class="fa fa-lock" title="Demo"></i></b></h1>
          <br>
          <button type="button" class="btn btn-default btn-lg">Show Connections</button>
          <button type="button" class="btn btn-default btn-lg">Show Devices</button>
        </div>
      </div>

      <br>

      <!-- sigma-container -->
      <div class="row">
        <div class="col-md-12">
          <div class="widget wdefault">
            <div ht-widget-header title="Sigma Connections"></div>
            <div class="widget-content user">
              <div id="sigma-container" class="graph-background"></div>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- sigma-content -->
      <div class="row">
        <div class="col-md-12">
          <div class="widget wdefault">
            <div ht-widget-header title="Sigma Feed"></div>
            <div class="widget-content user">
              <div id="sigma-content"></div>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</section>
