<section class="mainbar">
  <section class="matter">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <br>
          <h1><b>{{vm.title}}</b></h1>
          <br>
          <!-- map buttons -->
          <button type="button" class="btn btn-primary btn-lg pull-right"
              ng-show="!showNodes" ng-click="showNodes=true">Mesh view &nbsp;
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-primary btn-lg pull-right"
              ng-show="showNodes" ng-click="showNodes=false">Map view &nbsp;
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-primary btn-lg pull-right"
              ng-click="vm.addStaff(vm.filtered)">Show staff
          </button>
          <button type="button" class="btn btn-primary btn-lg pull-right"
              ng-click="vm.addStations()">Show stations
          </button>

          <!-- filter buttons -->
          <div uib-dropdown class="btn-group" ng-click="vm.showChat=false">
            <button uib-dropdown-toggle id="btn-filter-staff" class="btn btn-default btn-lg" ng-disabled="disabled">
              Filter staff
            </button>
            <ul uib-dropdown-menu class="dropdown-menu" role="menu" aria-labelledby="btn-filter-staff">
              <li ng-click="vm.btnSelection=''"
                  style="font-size:15px !important; padding:10px 20px" >
                <i class="fa" ng-class="vm.btnSelection==='' ? 'fa-check-square-o' : 'fa-square-o'"></i>
                &nbsp;&nbsp;All Staff
              </li>
              <li ng-repeat="s in vm.staff | orderBy: 'name'" ng-click="vm.btnSelection=s.name"
                  style="font-size:15px !important; padding:10px 20px" >
                <i class="fa" ng-class="vm.btnSelection===s.name ? 'fa-check-square-o' : 'fa-square-o'"></i>
                &nbsp;&nbsp;{{ s.name }}
              </li>
            </ul>
          </div>
          <div uib-dropdown class="btn-group" ng-click="vm.showChat=false">
            <button uib-dropdown-toggle id="btn-filter-group" class="btn btn-default btn-lg" ng-disabled="disabled">
              Filter by group
            </button>
            <ul uib-dropdown-menu class="dropdown-menu" role="menu" aria-labelledby="btn-filter-group">
              <li ng-click="vm.btnSelection=''"
                  style="font-size:15px !important; padding:10px 20px" >
                <i class="fa" ng-class="vm.btnSelection==='' ? 'fa-check-square-o' : 'fa-square-o'"></i>
                &nbsp;&nbsp;&nbsp;All Groups
              </li>
              <li ng-repeat="g in vm.groups" ng-click="vm.btnSelection=g"
                  style="font-size:15px !important; padding:8px 20px">
                <i class="fa" ng-class="vm.btnSelection===g ? 'fa-check-square-o' : 'fa-square-o'"></i>
                &nbsp;&nbsp;&nbsp;{{ g }}
              </li>
            </ul>
          </div>
          <div uib-dropdown class="btn-group" ng-click="vm.showChat=false">
            <button uib-dropdown-toggle id="btn-filter-status" class="btn btn-default btn-lg" ng-disabled="disabled">
              Filter by status
            </button>
            <ul uib-dropdown-menu class="dropdown-menu" role="menu" aria-labelledby="btn-filter-status">
              <li ng-click="vm.btnSelection=''"
                  style="font-size:15px !important; padding:10px 20px" >
                <i class="fa" ng-class="vm.btnSelection==='' ? 'fa-check-square-o' : 'fa-square-o'"></i>
                &nbsp;&nbsp;&nbsp;All Status
              </li>
              <li ng-repeat="os in vm.status" ng-click="vm.btnSelection=os"
                  style="font-size:15px !important; padding:8px 20px">
                <i class="fa" ng-class="vm.btnSelection===os ? 'fa-check-square-o' : 'fa-square-o'"></i>
                &nbsp;&nbsp;&nbsp;{{ os }}
              </li>
            </ul>
          </div>

        </div>
      </div>

      <br>

      <div class="row">

        <!-- STAFF MEMBERS -->
        <div class="col-md-6" ng-show="!vm.showChat">
          <div class="widget wdefault">
            <div ht-widget-header style="height:0"></div>
            <div class="widget-content text-center text-info" >
              <div class="comms" style="height:600px;overflow-y:hidden">
              <table class="table table-condensed table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th ng-click="vm.sortBy('name')">Staff member <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                    <th ng-click="vm.sortBy('no')">No. <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                    <th ng-click="vm.sortBy('group')">Group <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                    <th ng-click="vm.sortBy('min')">Last seen <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                    <th>Map</th>
                    <th>Msg</th>
                    <th ng-click="vm.toggleAllStaff()">
                      <i class="fa" ng-class="vm.allSelected ? 'fa-check-square-o' : 'fa-square-o'"></i>
                    </th>
                  </tr>
                </thead>
                <tbody style="overflow-y:scroll">
                  <tr ng-repeat="s in (vm.filtered = (vm.staff | filter:vm.btnSelection | filter:search:strict |
                      orderBy:vm.sortProperty:vm.sortReverse | limitTo:20))" ng-dblclick="vm.locate(s)">
                    <td title="{{s.fullname}}">
                      <img class="img-team" src="{{s.image}}" width="40px" alt="{{s.fullname}}">
                    </td>
                    <td title="{{s.online}}">
                      <i class="{{s.symbol}} {{s.status}}" aria-hidden="true"></i>
                      &nbsp;&nbsp;{{s.name}}
                    </td>
                    <td>{{s.no}}</td>
                    <td>{{s.group}}</td>
                    <td>{{s.lastseen}}</td>
                    <td title="locate" ng-click="vm.locate(s)"><i style="width:25px" class="fa fa-globe"></i></td>
                    <td title="message" ng-click="vm.toggleChat(s)"><i style="width:25px" class="fa fa-comment-o"></i></td>
                    <td title="select" ng-click="s.selected=!s.selected">
                      <i class="fa" ng-class="s.selected ? 'fa-check-square-o' : 'fa-square-o'"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>

        <!-- INDIVIDUAL -->
        <div class="col-md-6" ng-show="vm.showChat">
          <div class="widget wdefault">
            <div ht-widget-header style="height:0"></div>
            <div class="widget-content" >
              <div class="comms" style="height:600px;overflow:hidden">

                <div class="eden-shadow" style="padding:0;margin:0;font-size: 16px">

                  <!-- header -->
                  <div class="row individual" style="padding:20px;">
                    <div class="col-md-2">
                      <i ng-click="vm.showChat=false" style="font-size: 36px;" class="fa fa-caret-left" aria-hidden="true"></i> &nbsp;
                      <img class="img-team" src="{{ vm.staffMember.image }}" width="80px" alt="{{ vm.staffMember.name }}" title="{{ vm.staffMember.name }}">
                    </div>
                    <div class="col-md-4">
                      <h3>{{ vm.staffMember.name }}
                        <i class="{{ vm.staffMember.status }} {{ vm.staffMember.symbol }}" aria-hidden="true"></i>
                      </h3>
                      <p>{{ vm.staffMember.role }}</p>
                      <p>{{ vm.staffMember.no }}</p>
                    </div>
                    <div class="col-md-3">
                      <p>Last seen</p>
                      <p>Check-in requested</p>
                      <p>Last seen location</p>
                    </div>
                    <div class="col-md-3" style="font-weight: bold">
                      <p>{{ vm.staffMember.lastseen }}</p>
                      <p>30 mins ago</p>
                      <p>{{ vm.staffMember.location }}</p>
                    </div>
                  </div>

                  <!-- incidents -->
                  <div class="row comms-incident">
                    <div class="col-md-12">
                      {{vm.getDate(-6) | date:'dd/MM/yyyy'}}: Incident #1028 - Broken down train
                      <i style="font-size: 24px;" class="fa fa-caret-down pull-right" aria-hidden="true"></i>
                    </div>
                  </div>

                  <div class="row comms-incident">
                    <div class="col-md-12">
                      {{vm.getDate(-5) | date:'dd/MM/yyyy'}} - {{vm.getDate(-1) | date:'dd/MM/yyyy'}}: No incidents
                      <i style="font-size: 24px;" class="fa fa-caret-down pull-right" aria-hidden="true"></i>
                    </div>
                  </div>

                  <div class="row comms-incident live">
                    <div class="col-md-12">
                      {{vm.getDate() | date:'dd/MM/yyyy'}}: <b>LIVE</b> Incident #1104 - Obstruction on track near {{ vm.staffMember.location }}
                      <i style="font-size: 24px;" class="fa fa-caret-up pull-right" aria-hidden="true"></i>
                    </div>
                  </div>

                </div>

                <div style="padding:0; margin:0; font-size: 16px; overflow: hidden">

                  <!-- check-in -->
                  <div class="row" style="padding:10px 40px; font-size: 16px;">
                    <div class="col-md-12 comms checkin">
                      <i class="fa fa-check-circle" aria-hidden="true"></i> &nbsp;
                      <b>{{ vm.staffMember.name }}</b> checked in 13:21
                    </div>
                  </div>

                  <!-- chat -->
                  <div class="row" style="padding:10px 40px; font-size: 16px;">
                    <div class="col-md-5"></div>
                    <div class="col-md-6 comms message">
                      Hi {{ vm.staffMember.fn }}, could you give me a progress report on the disruption at {{ vm.staffMember.location }}?
                    </div>
                    <div class="col-md-1 dash-message">
                      <img class="img-team" src="/images/team/er.png" width="40px" alt="Jane" title="Jane">
                      <span>13.28</span>
                    </div>
                  </div>
                  <div class="row" style="padding:10px 40px; font-size: 16px;">
                    <div class="col-md-1 dash-message">
                      <img class="img-team" src="{{ vm.staffMember.image }}" width="40px" alt="{{ vm.staffMember.name }}" title="{{ vm.staffMember.name }}"><br>
                      <span>13.31</span>
                    </div>
                    <div class="col-md-6 comms message me" style="padding:15px;">
                      I can confirm that the obstruction on the tracks at {{ vm.staffMember.location }} is now clear.
                    </div>
                    <div class="col-md-5"></div>
                  </div>
                  <div class="row" style="padding:10px 40px; font-size: 16px;">
                    <div class="col-md-5"></div>
                    <div class="col-md-6 comms message">
                      Thanks {{ vm.staffMember.fn }}
                    </div>
                    <div class="col-md-1 dash-message">
                      <img class="img-team" src="/images/team/er.png" width="40px" alt="Jane" title="Jane">
                      <span>13.32</span>
                    </div>
                  </div>

                </div>

                <!-- send -->
                <!--  <div style="position:absolute; left:0; bottom:0; width:100%; padding:0; margin:0; font-size: 16px; background-color: #c1c1c1">
                  <div class="row" style="position:relative; padding:10px 20px; font-size: 16px; border: 1px solid lightgray;">
                    <div class="col-md-9">
                      <div class="input-group">
                        <input type="text" placeholder="&nbsp;&nbsp;Start typing..." style="padding:0; height:35px; width:100%">
                        <span class="input-group-addon" id="comms-search">Send</span>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <button type="button" class="btn btn-default pull-right" ng-click="vm.showChat=!vm.showChat">
                        Send check in
                      </button>
                    </div>
                  </div>
                </div> -->

              </div>
            </div>

            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>

          </div>
        </div>

        <!-- MAP -->
        <div class="col-md-6" ng-show="!showNodes">
          <div class="widget wdefault">
            <div ht-widget-header></div>
            <div class="widget-content">
              <leaflet
                      width="100%"
                      height="575px"
                      center="vm.home"
                      tiles="vm.tiles"
                      geojson="vm.geojson"
                      bounds="vm.bounds"
                      markers="vm.markers"
                      defaults="vm.defaults">
              </leaflet>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>

        <!-- MESH -->
        <div class="col-md-6" ng-show="showNodes">
          <div class="widget wdefault">
            <div ht-widget-header title="Network"></div>
            <div class="widget-content graph-background" style="padding:10px; height:575px;">
              <img src="images/placeholders/sigma-nodes.png" usemap="#image-map"
                style="display: block;margin: auto; height: 100%;" alt="Sigma Nodes">
              <map name="image-map" id="image-map">
                <area alt="A" title="Gene Myers" href="#" shape="rect" coords="50,158,91,196" />
                <area alt="B" title="Craig Sheridon" href="#" shape="rect" coords="294,215,330,258" />
                <area alt="C" title="Raheel Modassar" href="#" shape="rect" coords="212,51,252,88" />
                <area alt="D" title="Erika Reid" href="#" shape="rect" coords="0,291,42,330" />
                <area alt="E" title="Nicola Fraser-Liddy" href="#" shape="rect" coords="150,306,190,347" />
                <area alt="F" title="Ben Wood" href="#" shape="rect" coords="267,142,306,182" />
                <area alt="G" title="Alex Wilford" href="#" shape="rect" coords="250,303,291,340" />
                <area alt="H" title="Vern Smith" href="#" shape="rect" coords="331,58,370,98" />
                <area alt="I" title="Rob Carmichael" href="#" shape="rect" coords="102,263,140,307" />
                <area alt="J" title="Yvonne Heyman" href="#" shape="rect" coords="207,150,246,186" />
              </map>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>

      </div>

      <br>

      <!-- search filters -->
<!--       <div class="row" ng-show="true">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-addon" id="comms-search">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
                <input type="text" class="form-control" aria-describedby="comms-search"
                    style="font-size: 16px" ng-model="search.$" placeholder="Search all staff">
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-addon" id="comms-group">
                  <i class="fa fa-users" aria-hidden="true"></i>
                </span>
                <input type="text" class="form-control" aria-describedby="comms-group"
                  style="font-size: 16px" ng-model="search.group" placeholder="Search by group">
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="input-group-addon" id="comms-status">
                  <i class="fa fa-power-off" aria-hidden="true"></i>
                </span>
                <input type="text" class="form-control" aria-describedby="comms-status"
                    style="font-size: 16px" ng-model="search.online" placeholder="Search by status">
              </div>
            </div>
          </div>
        </div>
      </div>

      <br> -->

      <!-- MESSAGE -->
      <div class="row" ng-show="true">
        <div class="col-md-12">
          <div class="widget wdefault">
            <div ht-widget-header title="Message staff"></div>

            <div class="widget-content">

              <!-- filters -->
              <div class="row">
                <div class="col-md-3">
                  <div class="input-group">
                    <span class="input-group-addon" id="comms-search">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" aria-describedby="comms-search"
                        style="font-size: 16px" ng-model="search.$" placeholder="Search all staff">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group">
                    <span class="input-group-addon" id="comms-group">
                      <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" aria-describedby="comms-group"
                      style="font-size: 16px" ng-model="search.group" placeholder="Search by group">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group">
                    <span class="input-group-addon" id="comms-status">
                      <i class="fa fa-power-off" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" aria-describedby="comms-status"
                        style="font-size: 16px" ng-model="search.online" placeholder="Search by status">
                  </div>
                </div>
              </div>

              <br>

              <!-- send to -->
              <div class="row">
                <div class="col-md-9">
                  <div class="input-group">
                    <span class="input-group-addon" id="comms-send-to">
                      <i class="fa fa-plus"></i>
                    </span>
                    <input type="text" class="form-control" aria-describedby="comms-send-to"
                        style="max-width:100%; color:#777;" placeholder="Send to all" value="{{vm.names}}">
                  </div>
                </div>
              </div>
              <br>
              <!-- message -->
              <div class="row">
                <div class="col-md-12">
                  <textarea style="width:100%; height:100px; padding:15px; font-size:16px; background-color:#f9f9f9;"
                      placeholder="Start typing..."></textarea>
                </div>
              </div>

              <br>

              <!-- buttons -->
              <div class="row">
                <div class="col-md-6">
                  <button type="button" class="btn btn-primary btn-lg">Send message</button>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-primary btn-lg pull-right">Send to all</button>
                  <button type="button" class="btn btn-primary btn-lg pull-right">Request check-in</button>
                </div>
              </div>

            </div>

            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>
</section>
