<section class="mainbar">
  <section class="matter">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <br>
          <h1><b>{{vm.title}}</b></h1>
          <br>
          <button type="button" class="btn btn-default btn-lg">All disruptions</button>
          <button type="button" class="btn btn-default btn-lg">All stations</button>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-4">
          <div class="widget wdefault">
            <div ht-widget-header title=""></div>
            <div class="widget-content user">
              <hr>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="widget wdefault">
            <div ht-widget-header title=""></div>
            <div class="widget-content user">
              <hr>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="widget wdefault">
            <div ht-widget-header title=""></div>
            <div class="widget-content">
              <hr>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</section>
